#myCV {
    font-family: "Arial Nova";
    border: 5px solid white;
    box-shadow: 0px -1px 19px -2px rgba(120,120,120,1);
    background-image: url("src/paper.jpg");
    background-repeat: repeat;
    border-radius: 200px 0px 90px 0px;;
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.centeringDiv {
    
    margin: 0 auto;
    width: 785px;
    padding-top: 110px;
    padding-left: 125px;
    padding-bottom: 110px;
}

#info {
    font-size: 20px;
    margin-top: 10px;
}

#tableInfo {
    background-color: rgba(255, 255, 255, 0.411);
    box-shadow: 0px -1px 19px -2px rgba(255, 255, 255, 0.664);
    border: 10px solid white;
    border-collapse: collapse;
}

.myInfo {
    color:white;
    font-weight: bold;
    text-decoration: underline;
}

.infoList {
    list-style-type: none;
    display: inline-block;
}

.infoBorders {
    border: 10px solid white;
    box-shadow: 0px -1px 19px -2px rgba(255, 255, 255, 0.664);
    padding: 10px;
}

#myPhoto {
    width: 150px;
    height: 141px;
    float: left;
    margin: 0 10px 10px 50px;
    border: 2px solid white;
    box-shadow: 0px -1px 13px -6px rgba(120,120,120,1);
}

#experienceTable {
    border: 1px solid black;
    border-collapse: collapse;
}

.borders {
    border-top: 1px solid black;
}